@font-face {
    font-family: "My Custom Font";
    src: url(fonts/joystix.ttf) format("truetype");
}

body {
    height: 100%;
}

.jumbotron {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.jumbotron h1 {
    font-family: "My Custom Font", Verdana, Tahoma;
}

.container {
    padding-left: 15;
    padding-right: 15;
    margin-right: auto;
    margin-left: auto;
}

.blocks {
    margin: 10px;
}

#square {
    width: 400px;
    height: 400px;
    background-color: #E80000;
    border-radius: 5px;
    margin: 0 auto; 
}

#square:hover {
    cursor: pointer;
}

#footer {
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 20px;
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
}

#overlay{
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.8;
}

#dialogbox{
    display: none;
    position: fixed;
    width:550px;
    z-index: 1000;
}

#dialogbox > div {
    border-radius: 5px;
    background : linear-gradient(#EEE, #CCC);
}

#dialogbox > div h4 {
    margin-bottom: 20px;
}

#dialogbox > div > #dialogboxHeader{ 
    font-size:19px;
    padding:10px; 
    border-radius: 5px 5px 0 0;
}
#dialogbox > div > #dialogboxBody{ 
    padding:20px; 
    text-align: center;
}

#dialogbox > div > #dialogboxFooter{
    padding:10px; 
    text-align:right; 
}

.buttons {
    display: inline-block;
    border: 2px solid #FFF;
    min-width: 125px;
    margin: 0 10px;
    padding: 8px 8px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.buttons:hover{
    cursor: pointer;
}

.buttons p{
    margin-bottom: 0px; 
}

.img-social {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

#footer > .container > div {
    margin-top: 10px;
}

.fb-icon {
    background: url('images/fbIconRed-small.png');
    transition: 0.2s;
    border-style: none;
}

.fb-icon:hover {
    background: url('images/fbIconBlue-small.png');
}

.email:hover {
    color: #E80000;
    text-decoration: none;
}

.not-active {
   cursor: default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
